body {
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    gap: 10px;
}

.upload-cv {
    width: 150px;
    aspect-ratio: 1 / 1;
}

#upload-cv {
    opacity: 0;
    height: 18px;
    width: 74px;
    position: absolute;
    cursor: pointer;
}

.file-input label {
    background-color: gray;
    height: 2em;
    width: 100px;

    cursor: pointer;
}